<h1>Create a new Pet</h1>
<form method="post" action="/pets">
<label for="pet_name">
  <input type="text" name="pet[name]" id ="pet_name"> </input>


  <label>Choose an Owner:</label>

  <%@owners.each do |owner|%>
      <input type="checkbox" name="pet[owner_id]" id="<%=owner.id%>" value="<%=owner.id%>"><%=owner.name%></input>
    <%end%>

    <label> and/or create a new owner </label>

    <label> Name: </name>
    <input type="text" name="owner[name]" id="owner_name">
    <input type="submit" value="Create Pet">
  </form>
